body {
    background-color: #E3E3E3;
}

.head-table {
    width: 76%;
    background-color: #230D56;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    padding-right: 25px;
    margin-left: 20px;

}
.row {
    margin-left: auto;
    margin-right: auto;
}
.text-head {
    background-color: #F6EE1D;
    font-size: 12px;
    height: 20px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.body-table {
    background-color: #FFFFFF;
    height: 610px;
    width: 76%;
    overflow-y: scroll;
    margin-left: 20px;
    border-bottom-left-radius: 10px;

    
}
.text-body {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #F6EE1D;
    height: 70px;
    width: 100%;
    background-color: #230D56;
    padding-top: 15px;
    margin-top: 8px;
}
.text-body p{
    color: white;
    font-size: 20px;

}

/* Table booking meja */
.booking {
    background-color: #230D56;
    height: 665px;
    width: 20%;
    border-radius: 10px;
    position: absolute; /* Mengatur posisi absolut */
    top: 20px; /* Menentukan jarak dari atas */
    right: 20px; /* Menentukan jarak dari kanan */
}
img {
    height: 190px;
    margin-left: 100px;
}

.idecrement span {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
}
.idecrement button {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 15px;
    margin-bottom: 2px;
}

.idecrement {
    display: flex;
    background-color: white;
    height: 35px;
    width: 180px;
    border-radius: 15px;
    border: black;
    border: solid;
    border: 5px;
}

/* Ukuran Button Hijau-hijau */
.meja {
    width: 100%;
    height: 180px;
    border: none;
    border-radius: 10px;
    background-color: #04DE34;
}
.button-lanjut {
    width: 50%;
    margin-left: 50%;
    border-radius: 10px;
    background-color: #FFFFFF;
}

/* Button Hijau-hijau */
.booking-meja {
    margin-top: 25px;
}



.header{
    background-color: #230D56;
    height: 50px;
    padding-top: 10px;
}
.header h1{
    font-size: 20px;
    color: white;
    text-align: center;
}
.wrapper {
    background-color: white;
    height: 400px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 20px;
}
.payment-table {
    margin-left: 120px;
}
.payment-table p {
    font-size: 20px;
    font-weight: bold;
}
.label-name {
    background-color: #F6EE1D;
    height: auto;
    width: 80px;
    padding: 0%;
    margin-top: 15px;
    margin-left: 120px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.label-name label {
    margin-left: 17px;
}
.input-name{
    margin-top: 15px;
    background-color: #230D56;
    padding: 0%;
    width: 400px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.input-name input {
    background-color: #230D56;
    border: none;
    color: white;
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
}
.payment {
    width: 80%;
    margin-top: 10px;
    height: 50px;
}
.payment-name {
    margin-top: 8px;
}
.payment input {
    border: none;
}
.idecrement-payment span {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
}
.idecrement-payment button {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 15px;
    margin-bottom: 2px;
}
.idecrement-payment {
    display: flex;
    background-color: white;
    height: 35px;
    width: 100px;
    border-radius: 15px;
    border: solid;
    margin-left: 80px;
    margin-right: 15px;

}
.payment-stick-gloves {
    border-bottom-style: solid;
}
.sum {
    background-color: #F6EE1D;
    /* width: 100px; */
    height: 30px;
    text-align: center;
    padding-top: 3px;
    border-radius: 8px;
}
.choose-payment {
    margin-top: 140px;
    width: 600px;
    height: 45px;
    background-color: #230D56;
    padding: 0%;
    border-radius: 10px;
    position: absolute;
    right: 10%;
}
.choose-payment button.choose {
    width: 100%;
    border: none;
    margin-top: 7px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
}
.choose-payment button.bayar {
    height: 45px;
    width: 100%;
    background-color:#F6EE1D;
    border: none;
    border-radius: 9px;
}
.choose:hover {
    background-color: #F6EE1D;
}
.choose::before {
    background-color: #D9D9D9;
}

.pressed {
    background-color: red;
    color: white;
}
